amqp==2.3.2
anyjson==0.3.3
Babel==2.6.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
coloredlogs==10.0
Django==1.8.13
django-celery==3.2.2
django-celery-results==1.0.1
dukpy==0.2.2
flower==0.9.2
future==0.16.0
humanfriendly==4.16.1
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
kombu==4.2.1
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.0
numpy==1.15.2
Pillow==5.2.0
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pytz==2018.5
PyYAML==3.13
tornado==5.1.1
vine==1.1.4
