{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block content %}

    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Overview</h3>
            <!--p class="panel-subtitle">Demo</p-->
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-line-chart icon"></i></span>
                        <p>
                            <span class="number">{{ run_rtv_numbers }}</span>
                            <span class="title">Rtv tested</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-clock-o icon"></i></span>
                        <p>
                            <span class="number">{{ time_cost }}</span>
                            <span class="title">Time cost</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-database icon"></i></span>
                        <p>
                            <span class="number">602</span>
                            <span class="title">Rtv we have</span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-9">
                    <div id="headline-chart" class="ct-chart"></div>
                </div>
                <div class="col-md-3">
                    <div class="weekly-summary text-right">
                        <span class="number">000</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
                        <span class="info-label">XXXX</span>
                    </div>
                    <div class="weekly-summary text-right">
                        <span class="number">000</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>
                        <span class="info-label">XXXX</span>
                    </div>
                    <div class="weekly-summary text-right">
                        <span class="number">0000</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>
                        <span class="info-label">XXXX</span>
                    </div>
                </div>
                <script>
                    $(function () {
                        var data, options;

                        // headline charts
                        data = {
                            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                            series: [
                                [23, 29, 24, 40, 25, 24, 35],
                                [14, 25, 18, 34, 29, 38, 44],
                            ]
                        };

                        options = {
                            height: 300,
                            showArea: true,
                            showLine: false,
                            showPoint: false,
                            fullWidth: true,
                            axisX: {
                                showGrid: false
                            },
                            lineSmooth: false,
                        };

                        new Chartist.Line('#headline-chart', data, options);
                    });
                </script>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Tasks</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <!--button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button-->
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Task ID.</th>
                            <th>Name</th>
                            <th>Mode</th>
                            <th>Area</th>
                            <th>Date &amp; Time</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td><a href="/test/{{ task.id }}">{{ task.id }}</a></td>
                                <td>{{ task.tester }}</td>
                                <td>{{ task.mode }}</td>
                                <td>{{ task.area }}</td>
                                <!-- H:i:s -->
                                <td>{{ task.created|date:"Y-m-d H:i:s" }}</td>
                                <td><span id="{{ task.id }}_status" class="label label-default">loading</span></td>
                            </tr>
                            <script>
                                $(document).ready(function () {
                                    function get_status() {
                                        $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                            if (ret.status == 'SLAM') {
                                                $('#{{ task.id }}_status').html("SLAM");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                            } else if (ret.status == 'SSA') {
                                                $('#{{ task.id }}_status').html("SSA");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                            } else if (ret.status == 'backup') {
                                                $('#{{ task.id }}_status').html("Backup");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                            } else if (ret.status == 'Waiting') {
                                                $('#{{ task.id }}_status').html("Waiting");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-warning");
                                            } else if (ret.status == 'build') {
                                                $('#{{ task.id }}_status').html("building");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                            } else if (ret.status == 'SLAMdone') {
                                                $('#{{ task.id }}_status').html("Done");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-success");
                                            } else if (ret.status == 'done') {
                                                $('#{{ task.id }}_status').html("Done");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-success");
                                            } else if (ret.status == 'buildfailed') {
                                                $('#{{ task.id }}_status').html("Failed");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                            } else if (ret.status == 'SLAMfailed') {
                                                $('#{{ task.id }}_status').html("Failed");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                            } else if (ret.status == 'SSAfailed') {
                                                $('#{{ task.id }}_status').html("Failed");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                            } else {
                                                $('#{{ task.id }}_status').html("error");
                                                $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                            }

                                        })
                                    }

                                    {#setInterval(get_status, 1000);#}
                                    var interval = setInterval(function () {
                                        $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                            if (ret.status == 'SLAMdone' && ret.mode == 'SLAM' ) {
                                                clearInterval(interval);
                                            }
                                            if (ret.status == 'done' && ret.mode == 'SSA' ) {
                                                clearInterval(interval);
                                            }
                                        });
                                        get_status()
                                    }, 1000)
                                })
                            </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 5 tasks</span></div>
                        <div class="col-md-6 text-right"><a href="/alltasks" class="btn btn-primary">View All Tasks</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Tasks</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <!--button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button-->
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>Task ID.</th>
                            <th>Mode</th>
                            <th>Area</th>
                            <th>Date &amp; Time</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in my_tasks %}
                            <tr>
                                <td><a href="/test/{{ task.id }}">{{ task.id }}</a></td>
                                <td>{{ task.mode }}</td>
                                <td>{{ task.area }}</td>
                                <td>{{ task.created|date:"Y-m-d H:i:s" }}</td>
                                <td class="text-center"><span id="{{ task.id }}_mystatus" class="label label-default ">loading</span></td>
                                <script>
                                    $(document).ready(function () {
                                        function get_status() {
                                            $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                                if (ret.status == 'SLAM') {
                                                    $('#{{ task.id }}_mystatus').html("SLAM");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                } else if (ret.status == 'SSA') {
                                                    $('#{{ task.id }}_mystatus').html("SSA");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                } else if (ret.status == 'backup') {
                                                    $('#{{ task.id }}_mystatus').html("Backup");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                } else if (ret.status == 'Waiting') {
                                                    $('#{{ task.id }}_mystatus').html("Waiting");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-warning");
                                                } else if (ret.status == 'build') {
                                                    $('#{{ task.id }}_mystatus').html("building");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                } else if (ret.status == 'SLAMdone') {
                                                    $('#{{ task.id }}_mystatus').html("Done");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-success");
                                                } else if (ret.status == 'done') {
                                                    $('#{{ task.id }}_mystatus').html("Done");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-success");
                                                } else if (ret.status == 'buildfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                } else if (ret.status == 'SLAMfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                } else if (ret.status == 'SSAfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                } else {
                                                    $('#{{ task.id }}_mystatus').html("error");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                }
                                            })
                                        }

                                        {#setInterval(get_status, 1000);#}
                                        var interval = setInterval(function () {
                                        $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                            if (ret.status == 'SLAMdone' && ret.mode == 'SLAM' ) {
                                                clearInterval(interval);
                                            }
                                            if (ret.status == 'done' && ret.mode == 'SSA' ) {
                                                clearInterval(interval);
                                            }
                                        });
                                        get_status()
                                    }, 1000)
                                    })
                                </script>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 5 tasks of yours</span></div>
                        <div class="col-md-6 text-right"><a href="/allmytasks" class="btn btn-primary">View All Your Tasks</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class=" panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Performance</h3>
                        <!--p class="panel-subtitle">Demo</p-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row center-block">
                        <div>{{ myechart|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
