{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class=" panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overview</h3>
                        <p class="panel-subtitle">Demo</p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row center-block">
                        <div>{{ myechart|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Tasks</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <!--button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button-->
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Task ID.</th>
                                <th>Name</th>
                                <th>Mode</th>
                                <th>Area</th>
                                <th>Date &amp; Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td><a href="/test/{{ task.id }}">{{ task.id }}</a></td>
                                <td>{{ task.tester }}</td>
                                <td>{{ task.mode }}</td>
                                <td>{{ task.area }}</td>
                                <!-- H:i:s -->
                                <td>{{ task.created|date:"Y-m-d H:i:s" }}</td>
                                <td><span id="{{ task.id }}_status" class="label label-default">loading</span></td>
                            </tr>
                            <script>
                                    $(document).ready(function () {
                                        function get_status() {
                                            $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                                if (ret.status == 'SLAM') {
                                                    $('#{{ task.id }}_status').html("SLAM");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'SSA') {
                                                    $('#{{ task.id }}_status').html("SSA");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'backup') {
                                                    $('#{{ task.id }}_status').html("Backup");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'Waiting') {
                                                    $('#{{ task.id }}_status').html("Waiting");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-warning");
                                                }
                                                else if (ret.status == 'build') {
                                                    $('#{{ task.id }}_status').html("building");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'SLAMdone') {
                                                    $('#{{ task.id }}_status').html("Done");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-success");
                                                }
                                                else if (ret.status == 'done') {
                                                    $('#{{ task.id }}_status').html("Done");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-success");
                                                }
                                                else if (ret.status == 'buildfailed') {
                                                    $('#{{ task.id }}_status').html("Failed");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                                }
                                                else if (ret.status == 'SLAMfailed') {
                                                    $('#{{ task.id }}_status').html("Failed");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                                }
                                                else if (ret.status == 'SSAfailed') {
                                                    $('#{{ task.id }}_status').html("Failed");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                                }
                                                else {
                                                    $('#{{ task.id }}_status').html("error");
                                                    $('#{{ task.id }}_status').removeClass().addClass("label label-danger");
                                                }

                                            })
                                        }

                                        setInterval(get_status, 1000)
                                    })
                                </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 5 tasks</span></div>
                        <div class="col-md-6 text-right"><a href="/alltasks" class="btn btn-primary">View All Tasks</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Tasks</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <!--button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button-->
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Task ID.</th>
                                <th>Mode</th>
                                <th>Area</th>
                                <th>Date &amp; Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in my_tasks %}
                            <tr>
                                <td><a href="/test/{{ task.id }}">{{ task.id }}</a></td>
                                <td>{{ task.mode }}</td>
                                <td>{{ task.area }}</td>
                                <td>{{ task.created|date:"Y-m-d H:i:s" }}</td>
                                <td class="text-center"><span id="{{ task.id }}_mystatus" class="label label-default ">loading</span></td>
                                <script>
                                    $(document).ready(function () {
                                        function get_status() {
                                            $.getJSON('/test/{{ task.id }}/status', function (ret) {
                                                if (ret.status == 'SLAM') {
                                                    $('#{{ task.id }}_mystatus').html("SLAM");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'SSA') {
                                                    $('#{{ task.id }}_mystatus').html("SSA");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'backup') {
                                                    $('#{{ task.id }}_mystatus').html("Backup");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'Waiting') {
                                                    $('#{{ task.id }}_mystatus').html("Waiting");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-warning");
                                                }
                                                else if (ret.status == 'build') {
                                                    $('#{{ task.id }}_mystatus').html("building");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-primary animated flash slower infinite");
                                                }
                                                else if (ret.status == 'SLAMdone') {
                                                    $('#{{ task.id }}_mystatus').html("Done");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-success");
                                                }
                                                else if (ret.status == 'done') {
                                                    $('#{{ task.id }}_mystatus').html("Done");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-success");
                                                }
                                                else if (ret.status == 'buildfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                }
                                                else if (ret.status == 'SLAMfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                }
                                                else if (ret.status == 'SSAfailed') {
                                                    $('#{{ task.id }}_mystatus').html("Failed");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                }
                                                else {
                                                    $('#{{ task.id }}_mystatus').html("error");
                                                    $('#{{ task.id }}_mystatus').removeClass().addClass("label label-danger");
                                                }
                                            })
                                        }

                                        setInterval(get_status, 1000)
                                    })
                                </script>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 5 tasks of yours</span></div>
                        <div class="col-md-6 text-right"><a href="/allmytasks" class="btn btn-primary">View All Your Tasks</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
