{% extends "base.html" %}
{% block title %} Test {% endblock %}
{% load staticfiles %}
{% block content %}
    <form action="submitted" method="post">
        {% csrf_token %}
        <h3 class="page-title">Process</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-headline animated " id="step1">
                    <div class="panel-heading">
                        <h3 class="panel-title">Step 1</h3>
                        <p class="panel-subtitle">Which mode and data do you want to run?</p>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Select - Mode</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="select_mode" id="select_mode_id">
                                    <option value="SLAM">SLAM</option>
                                    <option value="SSA">SLAM-SSA</option>
                                    <option value="ALL">SLAM-SSA-ALIGNMENT</option>
                                </select>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#select_mode_id').multiselect();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row col-lg-offset-10">
                            <button type="button" class="btn btn-primary" id="step1next">Next</button>
                        </div>
                        <script type="text/javascript">
                            $("#step1next").click(function () {
                                $("#step1").removeClass().addClass("panel panel-headline animated bounceOutLeft").css('display', 'none');
                                $("#step2").css('display', '').removeClass().addClass("panel panel-headline animated bounceInRight");
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-headline animated" style="display: none" id="step2">
                    <div class="panel-heading">
                        <h3 class="panel-title">Step2</h3>
                        <p class="panel-subtitle">Which data do you want to run?</p>
                    </div>
                    <div class="panel-body">
                        <select id="select_area_id" multiple="multiple" name="select_list">
                            <optgroup label="largescale" class="group-1">
                                {% for area in areas %}
                                    {% ifequal area.tag 'largescale' %}
                                        <option value="{{ area }}">{{ area }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="test" class="group-1">
                                {% for area in areas %}
                                    {% ifequal area.tag 'test' %}
                                        <option value="{{ area }}">{{ area }}</option>
                                    {% endifequal %}
                                {% endfor %}
                            </optgroup>

                        </select>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#select_area_id').multiselect();
                            });
                        </script>
                        {#                        {% for area in areas %}#}
                        {#                            <input type="checkbox" value="{{ area }}" name="check_box_list"/>{{ area }}#}
                        {#                        {% endfor %}#}
                        <div class="row col-lg-offset-8">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#skipbuild">Skip build</button>
                            <button type="button" class="btn btn-primary" id="step2back">Back</button>
                            <button type="button" class="btn btn-primary" id="step2next">Next</button>
                        </div>
                        <div class="row right">
                            <div class="row">
                                <i class="fas fa-plus-circle"></i>
                            </div>

                        </div>
                        <script type="text/javascript">
                            $("#step2back").click(function () {
                                $("#step2").removeClass().addClass("panel panel-headline animated bounceOutRight").css('display', 'none');
                                $("#step1").css('display', '').removeClass().addClass("panel panel-headline animated bounceInLeft");
                            });
                            $("#step2next").click(function () {
                                $("#step2").removeClass().addClass("panel panel-headline animated bounceOutLeft").css('display', 'none');
                                $("#step3").css('display', '').removeClass().addClass("panel panel-headline animated bounceInRight");
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-headline animated" style="display: none" id="step3">
                    <div class="panel-heading">
                        <h3 class="panel-title">Step3</h3>
                        <p class="panel-subtitle">Please choose your branch</p>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover" id="slam">
                            <thead>
                            <tr>
                                <th>SLAM repo</th>
                                <th>branch</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col-md-3">core/common</th>
                                <th class="col-md-9">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="common" id="common"
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2">algorithm_common</th>
                                <th class="col-md-10">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algorithm_common" id="algorithm_common"
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2">algorithm_vehicle_offlineSLAM</th>
                                <th class="col-md-10">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algorithm_vehicle_offlineslam"
                                           id="algorithm_vehicle_offlineslam">
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2">vehicle</th>
                                <th class="col-md-10">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="vehicle"
                                           id="vehicle">
                                </th>
                            </tr>

                            </tbody>
                        </table>
                        <table class="table table-hover" id="ssa">
                            <thead>
                            <tr>
                                <th>SSA repo</th>
                                <th>branch</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col-md-3">core/common</th>
                                <th class="col-md-9">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="on" data-provide="typeahead" name="common_sam" id="common_sam"
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2">algorithm_common</th>
                                <th class="col-md-10">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algorithm_common_sam"
                                           id="algorithm_common_sam"
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2">algorithm_sam</th>
                                <th class="col-md-10">
                                    <input type="text" class="form-control" placeholder="input the branch" autocomplete="off" data-provide="typeahead" name="algorithm_sam" id="algorithm_sam">
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <!--div class="row col-lg-offset-11">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nextstep">Next Step</button>
                        </div-->
                        <div class="row col-lg-offset-10">
                            <button type="button" class="btn btn-primary" id="step3back">Back</button>
                            <button type="button" class="btn btn-primary" id="step3next">Next</button>
                        </div>
                        <script type="text/javascript">
                            $("#step3back").click(function () {
                                $("#step3").removeClass().addClass("panel panel-headline animated bounceOutRight").css('display', 'none');
                                $("#step2").css('display', '').removeClass().addClass("panel panel-headline animated bounceInLeft");
                            });
                            $("#step3next").click(function () {
                                $("#step3").removeClass().addClass("panel panel-headline animated bounceOutLeft").css('display', 'none');
                                $("#step4").css('display', '').removeClass().addClass("panel panel-headline animated bounceInRight");
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-headline" style="display: none" id="step4">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 4</h3>
                    <p class="panel-subtitle">Enter your task description</p>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" placeholder="" rows="4" name="description"></textarea>
                    <br>
                    <div class="row col-lg-offset-10">
                        <button type="button" class="btn btn-primary" id="step4back">Back</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nextstep">Start test</button>
                    </div>
                    <script type="text/javascript">
                        $("#step4back").click(function () {
                            $("#step4").removeClass().addClass("panel panel-headline animated bounceOutRight").css('display', 'none');
                            $("#step3").css('display', '').removeClass().addClass("panel panel-headline animated bounceInLeft");
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="modal fade" id="skipbuild" tabindex="-1" role="dialog" aria-labelledby="skipbuildLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="skipbuildLabel">Confirm Info</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to start the test <b>without build</b> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="skipbuild" name="ifskipbuild">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nextstep" tabindex="-1" role="dialog" aria-labelledby="nextstepLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="nextstepLabel">Confirm Info</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to start the test?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            $.getJSON("{% static 'jsons/branchs.json'%}", function (json_data) {
                $("#algorithm_vehicle_offlineslam").typeahead({source: eval(json_data.algorithm_vehicle_offlineslam), minLength: 0});
                $("#algorithm_common").typeahead({source: eval(json_data.algorithm_common), minLength: 0});
                $("#algorithm_sam").typeahead({source: eval(json_data.algorithm_sam), minLength: 0});
                $("#common").typeahead({source: eval(json_data.common), minLength: 0});
                $("#algorithm_common_sam").typeahead({source: eval(json_data.algorithm_common_sam), minLength: 0});
                $("#common_sam").typeahead({source: eval(json_data.common_sam), minLength: 0});
                $("#vehicle").typeahead({source: eval(json_data.vehicle), minLength: 0});
            });
        })
    </script>

    <script language="javascript" type="text/javascript">
        //禁用Enter键表单自动提交
        document.onkeydown = function (event) {
            var target, code, tag;
            if (!event) {
                event = window.event; //针对ie浏览器
                target = event.srcElement;
                code = event.keyCode;
                if (code == 13) {
                    tag = target.tagName;
                    if (tag == "TEXTAREA") {
                        return true;
                    } else {
                        return false;
                    }
                }
            } else {
                target = event.target; //针对遵循w3c标准的浏览器，如Firefox
                code = event.keyCode;
                if (code == 13) {
                    tag = target.tagName;
                    if (tag == "INPUT") {
                        return false;
                    } else {
                        return true;
                    }
                }
            }
        };
    </script>
{% endblock %}