{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% load staticfiles %}
{% block content %}
    <!--section class="wow pulse animated fa-circle" style="visibility: visible; animation-duration: 1500ms; animation-iteration-count: infinite; animation-name: pulse;"
             data-wow-iteration="infinite" data-wow-duration="1500ms">
    </section-->
    <!--h1 class="lnr lnr-checkmark-circle animated flash slower infinite"></h1-->

    <!--div class="lnr lnr-checkmark-circle wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s" data-wow-offset="10" data-wow-iteration="10"></div-->
    {{ result.task_id }}
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Task info</h3>
                </div>
                <div class="panel-body no-padding">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>Task id</th>
                            <th>Tester</th>
                            <th>Mode</th>
                            <th>Area</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.tester }}</td>
                            <td>{{ task.mode }}</td>
                            <td>{{ task.area }}</td>
                            <td>
                                <!--button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> Processing</button-->
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" name="stoptask" value="stop" id="stoptask">Stop Task</button>
                                </form>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" name="getkml" value="getkml" id="getkml">Show Trajectory</button>
                                    {% if nokmls %}
                                        <script>
                                            $(document).ready(function () {
                                                alert("No kml generate");
                                            });
                                        </script>
                                    {% endif %}
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Schedule</h3>
                </div>
                <div class="panel-body ">
                    <!--div class="row">
                        <div class="col-lg-3"><span class="label label-info animated flash slower infinite ">PROCESSING</span></div>
                        <div class="col-lg-3">
                            <div class="label label-success animated flash slower infinite ">DONE</div>
                        </div>
                        <div class="col-lg-3">
                            <div class="label label-danger animated flash slower infinite ">FAILED</div>
                        </div>
                    </div-->
                    <div class="row">
                        <div>
                            <div class="col-md-3">
                                <p id="task_status_code" class="btn btn-default  ">Build</p>
                            </div>

                            <div class="col-md-3">
                                <p id="task_status_slam" class="btn btn-default  ">SLAM</p>
                            </div>
                            <div class="col-md-3">
                                <p id="task_status_ssa" class="btn btn-default ">SSA </p>
                            </div>
                            <div class="col-md-3">
                                <p id="task_status_result" class="btn btn-default ">Backup</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div></div>
                    </div>
                    <!--div class="row col-lg-offset-9">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">View More Detail Info</button>
                    </div-->
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Branch info</h3>
                </div>
                <div class="panel-body ">
                    <table class="table ">
                        <!--thead>
                        <tr>
                            <th>core/common</th>
                            <th>core/algo_common</th>
                        </tr>
                        </thead-->
                        <tbody>
                        {% for key,value in branchs.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Trajectory</h3>
                </div>
                <div class="panel-body no-padding" id="map"></div>


                <style>
                    #map {
                        height: 100%;
                    }

                    html, body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                </style>
                <script>
                    var map;

                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {{ center_data|safe }},
                            zoom: 13,
                            mapTypeId: 'terrain'
                        });
                        {% for kml in kmls_data %}
                            {{ kml | safe}}
                        {% endfor %}
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrCqQQu48EaqNTTQQPNhzqJG4engiExkw&callback=initMap"></script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Performance</h3>
                </div>
                <div class="panel-body no-padding">
                    <div class="col-md-6">{{ myechart2|safe }}</div>
                </div>


            </div>
        </div>
    </div>
    <!--script>
        $(document).ready(function () {
            function get_status() {
                $.getJSON('/test/{{ task.id }}/status', function (ret) {
                    $.each(ret, function (key, value) {
                        $('#task_name').html(key);
                        $('#task_status').html(value);
                    })
                })
            }

            setInterval(get_status, 1000)
        })
    </script-->
    <script>
        $(document).ready(function () {
            function get_status() {
                $.getJSON('/test/{{ task.id }}/status', function (ret) {
                    if (ret.status == 'SLAM') {
                        $('#task_status_slam').removeClass().addClass("btn btn-primary animated flash slower infinite")
                    }
                    else if (ret.status == 'SSA') {
                        $('#task_status_slam').html("<i class=\"fa fa-check-circle\"></i>SLAM");
                        $('#task_status_slam').removeClass().addClass("btn btn-success");
                        $('#task_status_ssa').removeClass().addClass("btn btn-primary animated flash slower infinite")
                    }
                    else if (ret.status == 'STOP') {
                        $('#task_status_slam').removeClass().addClass("btn btn-danger");
                        $('#task_status_ssa').removeClass().addClass("btn btn-danger")
                    }
                    else {
                        $('#task_status_slam').removeClass().addClass("btn btn-warning");
                        $('#task_status_ssa').removeClass().addClass("btn btn-warning")
                    }
                })
            }

            setInterval(get_status, 1000)
        })
    </script>


{% endblock %}

