{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="row">
    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="{% static 'data/fuji3.jpg'%}"
             alt="通用的占位符缩略图">
            <div class="caption">
                <h5>fuji</h5>

            </div>
         </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <img src="{% static 'data/mem.jpg' %}"
            alt="通用的占位符缩略图">
            <div class="caption">
                <h5>memmingen</h5>
                <!--p>一些示例文本。一些示例文本。</p-->
                <!--p>
                    <a href="#" class="btn btn-primary" role="button">
                        按钮
                    </a>
                    <a href="#" class="btn btn-default" role="button">
                        按钮
                    </a>
                </p-->
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <img src="{% static 'data/milford.jpg' %}"
            alt="">
            <div class="caption">
                <h5>milford</h5>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <img src="{% static 'data/tokyo.jpg' %}"
            alt=" img lost">
            <div class="caption">
                <h5>tokyo</h5>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="{% static 'data/i696.jpg'%}"
             alt="通用的占位符缩略图">
            <div class="caption">
                <h5>i696</h5>

            </div>
         </div>
    </div>
    <div class="col-sm-6 col-md-2">
         <div class="thumbnail">
            <img src="{% static 'data/munich.jpg'%}"
             alt="通用的占位符缩略图">
            <div class="caption">
                <h5>munich</h5>

            </div>
         </div>
    </div>
</div>
    <div class="row">


    </div>
{% endblock %}
