<html lang="en">
{% load staticfiles %}

{% include "header.html" %}
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/dashboard"><img src="{% static 'assets/img/ygomi_101x30.png' %}" alt="Ygomi Logo" class="img-responsive logo" id="logo_pic"></a>
        </div>
        <script type="text/javascript">
            $("#logo_pic").click(function () {
                $("#logo_pic").addClass("animated bounceIn")
            });
        </script>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-right">
                <div class="input-group ">
                    <input type="text" id="search_task_id" class="form-control" placeholder="Search task...">
                    <span class="input-group-btn"><a id="search_btn" type="submit" class="btn btn-primary">Go</a></span>
                    <script type="text/javascript">
                        $("#search_btn").click(function () {
                            var taskId = $("#search_task_id").val();
                            document.getElementById("search_btn").href = "/test/" + taskId;
                        })
                    </script>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">5</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/basic_use">Basic Use</a></li>
                            <li><a href="#">Working With Data</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Troubleshooting</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'assets/img/user.png' %}" class="img-circle" alt="Avatar"> <span>{{ request.user }}</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="/dashboard" class={{ if_dashboard_active }}><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#subPages_data" data-toggle="collapse" class="collapsed"><i class="lnr lnr-film-play"></i><span> Data</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages_data" class="collapse ">
                            <ul class="nav">
                                <li><a href="/data/large" class={{ if_large_active }}>大规模</a></li>
                                <li><a href="/coming" class={{ if_mini_active }}>极简</a></li>
                                <li><a href="/coming" class={{ if_error_active }}>异常</a></li>
                                <li><a href="/coming" class="">...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/analyse" class={{ if_analyse_active }}><i class="lnr lnr-chart-bars"></i> <span>Analyse</span></a></li>
                    <li><a href="/test" class={{ if_test_active }}><i class="lnr lnr-screen"></i> <span>Test</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Documents</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="/coming" class="">DEMO</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#subPages_tools" data-toggle="collapse" class="collapsed"><i class="lnr lnr-location"></i><span> Tools</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages_tools" class="collapse ">
                            <ul class="nav">
                                <li><a href="/coming" class="">Web KML</a></li>
                                <li><a href="/coming" class="">...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#subPages_lab" data-toggle="collapse" class="collapsed"><i class="lnr lnr-magic-wand"></i><span> Lab</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages_lab" class="collapse ">
                            <ul class="nav">
                                <li><a href="/machine" class="">machine</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about" class={{ if_about_active }}><i class="lnr lnr-tag"></i> <span>About</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                {#                <div id="fakeloader"></div>#}
                {#                <script>#}
                {#                    $(document).ready(function () {#}
                {#                        $("#fakeloader").fakeLoader({#}
                {#                            timeToHide: 1200,#}
                {#                            bgColor: "#34495e",#}
                {#                            spinner: "spinner3"#}
                {#                        });#}
                {#                    });#}
                {#                </script>#}
                <style type="text/css">
                    /*
                 *  Usage:
                 *
                      <div class="sk-rotating-plane"></div>
                 *
                 */
                    .spinner {
                        width: 60px;
                        height: 60px;
                        background-color: #67CF22;

                        margin: 100px auto;
                        -webkit-animation: rotateplane 1.2s infinite ease-in-out;
                        animation: rotateplane 1.2s infinite ease-in-out;
                    }

                    @-webkit-keyframes rotateplane {
                        0% {
                            -webkit-transform: perspective(120px)
                        }
                        50% {
                            -webkit-transform: perspective(120px) rotateY(180deg)
                        }
                        100% {
                            -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
                        }
                    }

                    @keyframes rotateplane {
                        0% {
                            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
                        }
                        50% {
                            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
                        }
                        100% {
                            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                        }
                    }
                </style>
                {#                <script type="text/javascript">#}
                {#                    var _LoadingHtml = '<div class="spinner" id="loader"></div>';#}
                {#                    document.write(_LoadingHtml);#}
                {#                    document.onreadystatechange = completeLoading;#}
                {##}
                {#                    function completeLoading() {#}
                {#                        if (document.readyState == "complete") {#}
                {#                            var loadingMask = document.getElementById('loader');#}
                {#                            loadingMask.parentNode.removeChild(loadingMask);#}
                {#                        }#}
                {#                    }#}
                {#                </script>#}
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>
<script src="{% static 'resources/bootstrap-switch.js' %}"></script>
<script src="{% static 'resources/completer.js' %}"></script>
<script src="{% static 'resources/bootstrap3-typeahead.js' %}"></script>
{#<script src="{% static 'assets/vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>#}
<script src="{% static 'assets/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'assets/scripts/cxSelect/jquery.cxselect.js' %}"></script>
<script src="{% static 'assets/vendor/fakeLoader/fakeLoader.js' %}"></script>


<script src="{% static 'assets/vendor/fileinput/js/fileinput.js' %}"></script>
<script src="{% static 'assets/vendor/fileinput/js/locales/zh.js' %}"></script>


<script>
    $(function () {
        $.cxSelect.defaults.url = 'cityData.min.json';
        $.cxSelect.defaults.emptyStyle = 'none';
    })
</script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>#}

{#<script src="{% static 'assets/vendor/bootstrap-select/js/i18n/defaults-*.js' %}"></script>#}
<script type="text/javascript">
    $(function () {
        $("[name='mySwitch']").bootstrapSwitch();
    })
</script>
<!--script type="text/javascript">
    $(function () {
        var data_algo_vehicle = ['feature/RDB-31401-MPG', 'feature/RDB-30913-offline-slam-developing-branch', 'feature/RDB-28414-internal-implementation-of-slam-snippets-merging-in-server', 'feature/RDB-29547-ssa-algorithm-performance-improve'];
        $("#algo_vehicle_offlineslam").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#algo_common").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#algo_sam").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#common").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#algo_vehicle-sam").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#algo_common-sam").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#algo_sam-sam").typeahead({source: data_algo_vehicle, minLength: 0});
        $("#common-sam").typeahead({source: data_algo_vehicle, minLength: 0});
    })
</script-->
<!--script>
    setInterval(function () {
        $("#status").load("http://127.0.0.1/test/251/status")
    }, 1000);
</script-->

</body>
</html>
