{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
    <link rel="stylesheet" href="{% static 'resources/bootstrap-switch.css' %}">
    <link rel="stylesheet" href="{% static 'resources/completer.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'resources/animate.css' %}">
    {#    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor/fakeLoader/fakeLoader.css' %}">
    <link href="{% static 'assets/vendor/bootstrap_fileinput/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">#}
    {% block headcontent %}{% endblock %}
    <script src="{% static 'resources/wow.js' %}"></script>
    <script>
        new WOW().init();
    </script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!--script>
        $(document).ready(function () {
            $("#stoptask").click(function () {
                alert("Are you sure STOP this task ??");
            });
        });
    </script-->

    {% for jsfile_name in script_list %}
        <script src="{% static 'assets/echarts/js' %}/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>
