{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <div class="row">
        <div class="panel">


            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="tabbable" id="tabs-423975">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel-320516" data-toggle="tab">lab1-Virtual_16</a>
                                </li>
                                <li>
                                    <a href="#panel-134969" data-toggle="tab">lab1-Virtual_17</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-320516">
                                    <p>
                                        Virtual_16
                                    </p>
                                    <ol>
                                        <li>
                                            CPU: 4 core
                                        </li>
                                        <li id="memorySize-16"><P></P></li>

                                    </ol>
                                    <div id="container-1" style="min-width: 310px; height: 400px; margin: 0 auto">
                                        <div class="row clearfix">

                                            <div class="col-md-6 column text-center" id="cpu-chart-16"></div>
                                            <div class="col-md-6 column text-center" id="memo-chart-16"></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-6 column text-center">
                                                <br>
                                                <span class="label label-default">CPU Used:</span>&nbsp&nbsp<span id="CPUUsedSize16"></span>&nbsp<span>%</span>
                                            </div>
                                            <div class="col-md-6 column text-center ">
                                                <br>
                                                <span class="label label-default">Memory Used:</span>&nbsp&nbsp<span id="memoryUsedSize16"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="panel-134969">
                                    <p>
                                        Virtual_17
                                    </p>
                                    <ol>
                                        <li>
                                            CPU: 4 core
                                        </li>
                                        <li id="memorySize-17"><p>MB</p></li>

                                    </ol>
                                    <div id="container-2" style="min-width: 310px; height: 400px; margin: 0 auto">

                                        <div class="row clearfix">

                                            <div class="col-md-6 column text-center" id="cpu-chart-17"></div>
                                            <div class="col-md-6 column text-center" id="memo-chart-17"></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-6 column text-center">
                                                <br>
                                                <span class="label label-default">CPU Used:</span>&nbsp&nbsp<span id="CPUUsedSize17"></span>&nbsp<span>%</span>
                                            </div>
                                            <div class="col-md-6 column text-center ">
                                                <br>
                                                <span class="label label-default">Memory Used:</span>&nbsp&nbsp<span id="memoryUsedSize17"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var vi = "16";
        var renderToCpu16 = 'cpu-chart-16';

        //Update graph
        function getCpuInfo() {

            // set up the updating of the chart each second
            var series = this.series[0];
            //var info={{cpu|safe}};

            setInterval(function () {
                $.get('lab_cpu', {'virtualCpu': vi}, function (data) {
                    var x = (new Date()).getTime(), // current time
                        y = data['info'];
                    series.addPoint([x, y], true, true);
                    $('#CPUUsedSize16').html(data["info"]);
                });
            }, 1000);
        };

        //Initialize graph
        function getData() {
            // generate an array
            var data = [],
                time = (new Date()).getTime(),
                i;
            for (i = -10; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    //y:0
                });
            }
            return data;
        };


        var chartCpu16 = new Highcharts.chart({
            credits: {enabled: false},
            exporting: {enabled: false},
            chart: {
                renderTo: renderToCpu16,
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 1,
                //width: $('#memo-chart-16').css('width').slice(0,-2),
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        //var info={{cpu|safe}};

                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y;
                            $.get('lab_cpu', {'virtualCpu': vi}, function (data) {
                                y = data['info']
                                series.addPoint([x, y], true, true);
                                $('#CPUUsedSize16').html(data["info"]);
                            })
                        }, 1000);
                    }
                }
            },
            time: {
                useUTC: false
            },
            title: {
                text: 'CPU'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Percentage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#908080'
                }],
                tickPositions: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: ' CPU Used',
                data: (function () {
                    // generate an array
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            //y:0
                        });
                    }
                    return data;
                }()),
                marker: {
                    radius: 1
                }
            }]
        });

        var chartMemo16 = Highcharts.chart('memo-chart-16', {
            credits: {enabled: false},
            exporting: {enabled: false},
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 1,
                //width: $('#cpu-chart-16').css('width').slice(0,-2),
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        //var info={{cpu|safe}};

                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y;
                            var vi = "16";
                            $.get('lab_memory', {'virtualMemo': vi}, function (data) {
                                y = data['usedMemoPercent']
                                series.addPoint([x, y], true, true);
                                $('#memoryUsedSize16').html(data["sizeMemo"]);
                            })
                            //y = {{data|safe}}["info"];
                            //series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Memory'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Percentage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#908080'
                }],
                tickPositions: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: ' Memory Used',
                data: (function () {
                    // generate an array of random data


                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            //y:{{data|safe}}[0]
                            //y: Math.random()
                        });
                    }
                    return data;
                }()),
                marker: {
                    radius: 1
                }
            }]
        });


        Highcharts.chart('cpu-chart-17', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        //var info={{cpu|safe}};

                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y;
                            var vi = "17";
                            $.get('lab_cpu', {'virtualCpu': vi}, function (data) {

                                y = data['info'];
                                series.addPoint([x, y], true, true);
                                $('#CPUUsedSize17').html(data["info"]);
                            });
                            //y = {{data|safe}}["info"];
                            //series.addPoint([x, y], true, true);

                        }, 5000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'CPU'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Percentage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#908080'
                }],
                tickPositions: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: ' CPU Used',
                data: (function () {
                    // generate an array of random data


                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 5000,
                            //y:{{data|safe}}[0]
                            //y: Math.random()
                        });
                    }
                    return data;
                }()),
                marker: {
                    radius: 1
                }
            }]
        });


        Highcharts.chart('memo-chart-17', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        //var info={{cpu|safe}};

                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y;
                            var vi = "17";
                            $.get('lab_memory', {'virtualMemo': vi}, function (data) {

                                y = data['usedMemoPercent'];
                                series.addPoint([x, y], true, true);
                                $('#memoryUsedSize17').html(data["sizeMemo"]);
                            });
                            //y = {{data|safe}}["info"];
                            //series.addPoint([x, y], true, true);

                        }, 1000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Memory'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Percentage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#908080'
                }],
                tickPositions: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: ' Memory Used',
                data: (function () {
                    // generate an array of random data


                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            //y:{{data|safe}}[0]
                            //y: Math.random()
                        });
                    }
                    return data;
                }()),
                marker: {
                    radius: 1
                }
            }]
        });

        $.get('lab_cpu_memory', {"virtualStaticInfo": vi}, function (data) {
            $('#memorySize-16').html(data["memorySize"]);
        });

        $.get('lab_cpu_memory', {"virtualStaticInfo": idVirtual}, function (data) {
            $('#memorySize-17').html('');
            $('#memorySize-17').html(data["memorySize"]);
        })
    </script>
{% endblock %}